@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
span,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Fira Sans;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --c-gray-1: #0a0a0a;
  --c-gray-2: #141414;
  --c-gray-3: #050505;
  --c-gray-4: #424141;
  --c-light-1: #f1eeee;
  --c-blue-1: #3a86ff;
  --c-purple-1: #8338ec;
  --c-pink-1: #ff006e;
  --c-orange-1: #fb5607;
  --c-yellow-1: #ffbe0b;
  --c-green-1: #3b8026;
  --c-red-1: #e93232;
  --c-transparent-1:#05050500;
  --filter-white: invert(100%) sepia(98%) saturate(232%) hue-rotate(180deg)
    brightness(113%) contrast(87%);
}

body,
html {
  margin: 0;
  height: 100vh;
  background-color: var(--c-gray-1);
}

* {
  color: var(--c-light-1);
  font-family: Fira Sans;
}

a {
  text-decoration: none;
}

footer{
  padding: 1em;
  background-image: linear-gradient(to top, var(--c-gray-3),var(--c-transparent-1));
  color: var(--c-light-1);
  text-align: center;
}

header {
  padding-top: 40px;
  background-color: var(--c-gray-1);
  margin: 0px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  z-index: 1;
}

h1 {
  font-weight: 600;
  font-size: 32px;
}

input[type="text"],
input[type="number"],
input[type="button"] {
  color: black;
  font-size: 16px;
  background-color: var(--c-light-1);
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  outline: none;
  border: solid 2px rgba(0, 0, 0, 0);
  border-radius: 5px;
}

input[type="number"] {
  width: 160px;
}

input:focus ~ .placeholder,
input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(0);
  font-size: 18px;
}

#add-tag {
  font-size: 16px;
  color: var(--c-orange-1);
  font-weight: 500;
  outline: none;
  border: solid 2px rgba(0, 0, 0, 0);
  border-radius: 5px;
}

#footer-fine-print {
  font-size: 12px;
  color: var(--c-gray-4);
  margin-top:4px;
}

#footer-fine-print a {
  color: var(--c-gray-4);
}

#search-bar {
  font-size: 18px;
  color: var(--c-gray-1);
  width: 100%;
  max-width: 800px;
  padding: 6px;
  border-radius: 50px;
  border: 0;
  background-color: var(--c-light-1);
}

#logo {
  margin-left: 2rem;
}

#toggle-tags {
  cursor: pointer;
  filter: var(--filter-white);
  transition: 0.5s;
}

#new-book-modal {
  background-color: var(--c-gray-1);
  width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  z-index: 100;
  border: solid 3px var(--c-gray-2);
  box-shadow: 1px 1px 5px 2px var(--c-gray-3);
  position: fixed;
  bottom: 9%;
  right: 2%;
}

#new-book-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#read-label {
  color: var(--c-yellow-1);
  font-weight: 500;
}

#new-book-btn {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  width: 50px;
  height: 50px;
  transition: 0.5s;
  filter: var(--filter-white);
}

#demo-btn {
  position: fixed;
  bottom: 20px;
  right: 80px;
  z-index: 100;
  background: none;
  color: inherit;
  border: 4px solid var(--c-light-1);
  border-radius: 5px;
  padding: 4px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.5s;
}

#new-book-btn:hover,
#demo-btn:hover {
  transform: scale(1.1);
}

#exit-btn:hover {
  background-color: var(--c-red-1);
}

#add-book-btn:hover {
  background-color: var(--c-green-1);
}

.tags-wrapper {
  grid-area: 2 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.tags-input-wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 6px;
}

.search-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  min-height: 3rem;
  margin-top: 1em;
}

.header-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.greater-container {
  background-color: var(--c-gray-1);
}

.library-container {
  padding: 3rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  height: 90vh;
  min-width: 80%;
}

.card {
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.02);
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 0px;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.09),
    transparent 40%
  );
  border-radius: inherit;
  content: "";
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  transition: opacity 500ms;
}

.card:hover::before {
  opacity: 1;
}

.hide {
  display: none;
}

.title {
  color: var(--c-blue-1);
}

.author {
  color: var(--c-purple-1);
}

.year {
  color: var(--c-pink-1);
}

.read-status-text {
  color: var(--c-yellow-1);
}

.read-status {
  display: flex;
}

.info-container {
  z-index: 1;
}

.book-tags {
  grid-area: 2 / 1 / 3 / 3;
  gap: 6px;
  display: flex;
  flex-wrap: wrap;
  align-self: start;
}

.input-field {
  display: grid;
  position: relative;
  width: 250px;
}

.input-field.year-and-read {
  grid-template-columns: 2fr 1fr;
}

.new-book-read-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-light-1);
  border-radius: 5px;
}

.placeholder {
  transition: transform 200ms, color 200ms;
  color: var(--c-gray-2);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  font-weight: 500;
}

.tags-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  max-width: 250px;
}

.tags {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 5px;
  height: 80%;
  padding: 2px;
  margin-top: 6px;
  gap: 4px;
}

.tag {
  color: var(--c-gray-2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-light-1);
  width: fit-content;
  padding: 1px 8px 1px 8px;
  border-radius: 50px;
  cursor: pointer;
  max-height: 18px;
}

.selected {
  background-color: var(--c-green-1);
}

.tag-wip {
  padding: 1px 8px 1px 20px;
  background-image: url("svg/close.svg");
  background-repeat: no-repeat;
}

.edit-btn {
  width: 25px;
  margin-left: 1em;
  height: auto;
  cursor: pointer;
  filter: var(--filter-white);
}

.title {
  font-weight: 500;
  font-size: 22px;
}

#new-book-title:focus {
  border: solid 2px var(--c-blue-1);
}

.title-label {
  color: var(--c-blue-1);
}

#new-book-author:focus {
  border: solid 2px var(--c-purple-1);
}

.author-label {
  color: var(--c-purple-1);
}
#new-book-year:focus {
  border: solid 2px var(--c-pink-1);
}
.year-label {
  color: var(--c-pink-1);
}

#tag-input:focus {
  border: solid 2px var(--c-orange-1);
}

.tags-label {
  color: var(--c-orange-1);
}

.form-buttons {
  display: flex;
  gap: 10px;
  width: 80%;
}

.btn {
  appearance: none;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: var(--c-light-1);
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 50px;
  max-width: 120px;
  outline: none;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.btn:hover {
  color: var(--c-gray-1);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

@media screen and (max-width: 900px) {
  header {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  #logo {
    margin-left: 0rem;
  }

  #new-book-modal {
    position: fixed;
    bottom: 10%;
    right: 6%;
  }

  .info-container {
    margin-bottom: 1rem;
  }

  .library-container {
    padding: 0rem;
    gap: 1rem;
    justify-content: center;
  }
}
